* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    flex-direction: column;
}

main {
    display: grid;
    grid-template-columns: 0 100%;
}

body {
    min-height: 100vh;
    position: relative;
}


.nav-link {
    font-size: 20px !important;
    cursor: pointer;
}
.nav-item {
    margin: 0 25px;
}



.borrarFiltro {
    height: 25px;
}

.botonConfirmarCarrito {
    margin: 50px;
    min-width: 200px;
}

.textoPago {
    font-size: 17px;
    margin-bottom: 0;
}

.checkPago {
    margin: 10px;
}

.formasDePago {
    background-color: rgb(241, 241, 241);
    border: 1px solid gray;
    text-align: center;
    padding: 50px;
    color: black;
    border-radius: 10px;
}

.carrito {
    top: 25px;
    right: 25px;
    position: fixed;
    height: 100px;
    z-index: 100;
    cursor: pointer;
}

.carritoImg {
    height: 100%;
}

.carritoImg:hover {
    filter: brightness(110%);
    /*filter: hue-rotate(90deg);*/
}

.vaciarCarritoImg {
    position: absolute;
    height: 40px;
    bottom: -10px;
    right: -10px;
}

.vaciarCarritoImg:hover {
    filter: brightness(175%);
}

.carritoCant {
    position: absolute;
    z-index: 200; 
    font-size: 30px;
    font-weight: bold;
    color: white;
    background: rgb(255, 123, 0);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    top: -10px;
    right: -10px;
    cursor: default;
}

.total {
    margin: 35px;
    text-align: center;
}





.contCarrito {
    flex-direction: column;
}

.productosCarrito {
    border-bottom: 1px solid gray;
    width: 100%;
    height: 200px;
    margin: 5px;
    padding: 10px;
} 

.imgProductosCarrito {
    height: 100%;
}

.carritoCantidades {
    position: absolute;
    top: 0;
    right: 0;
    height: 35px;
    width: 35px;
    background: rgb(255, 123, 0);
    border-radius: 50%;
    font-weight: bold;
    color: white;
}

.botonesMasMenos {
    border: none;
    background-color: rgb(176, 64, 199);
    color: white;
    border-radius: 5px;
    width: 50px;
    padding: 5px;
    margin: 5px;
}

.carritoDescripciones {
    font-size: 20px;
    margin: 15px;
}





.banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.filtroPrecio {
    text-align: center;
    margin-bottom: 40px;
}



.contFiltro {
    flex-direction: column;
    height: fit-content;
    padding: 50px 30px;
}

.borrarFiltro {
    cursor: pointer;
}

.subOpciones {
    display: inline-block;
    margin-right: 5px;
}

.contProductos {
    grid-column: 2;
    flex-wrap: wrap;
    padding: 50px 0;
}




.cart {
    border-radius: 5px;
    border: 1px solid gray;
    flex-direction: column;
    width: 300px;
    height: 450px;
    margin: 5px;
    padding: 10px;
    text-align: center;

    grid-column: 2;
}

.imgProductos {
    width: 100%;
    height: 50%;
    object-fit: contain;
}

.botonesCarrito {
    border: none;
    background-color: rgb(176, 64, 199);
    color: white;
    border-radius: 5px;
    padding: 10px;
}




.buscador {
    height: 50px;
    background-color: rgb(44, 44, 44);
    width: 100%;
}

.buscar {
    border-radius: 5px;
    padding: 5px;
    border-style: none;
    margin: 0 10px;
    width: 320px;
}

.botonBuscar {
    border-radius: 5px;
    border: 1px solid rgb(176, 64, 199);
    color: white;
    background: inherit;
    padding: 5px;
}