* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    flex-direction: column;
}

main {
    display: grid;
    grid-template-columns: 0 100%;
}

body {
    min-height: 100vh;
}

.banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
}






.contFiltro {
    flex-direction: column;
    height: fit-content;
}

.subOpciones {
    display: inline-block;
    margin-right: 5px;
}

.contProductos {
    grid-column: 2;
    flex-wrap: wrap;
}




.cart {
    border-radius: 5px;
    border: 1px solid gray;
    flex-direction: column;
    width: 300px;
    height: 450px;
    margin: 5px;
    padding: 10px;
    text-align: center;

    grid-column: 2;
}

.cart img {
    width: 100%;
    height: 50%;
    object-fit: contain;
}

.cart button {
    border: none;
    background-color: rgb(176, 64, 199);
    color: white;
    border-radius: 5px;
    padding: 10px;
}




.buscador {
    height: 50px;
    background-color: rgb(44, 44, 44);
    width: 100%;
}

.buscar {
    border-radius: 5px;
    padding: 5px;
    border-style: none;
    margin: 0 10px;
    width: 320px;
}

.botonBuscar {
    border-radius: 5px;
    border: 1px solid rgb(176, 64, 199);
    color: white;
    background: inherit;
    padding: 5px;
}